body {
    background-color: whitesmoke;
}

h1  {
    font-family: 'Bangers', cursive;
    color: orangered;
    font-size: 96px;
}

.game-banner {
    text-align: center;
}

.compost {
    width: 100px; 
    height: 150px; 
    border: 1px solid #000;
    background-color: #65ae43;
}
.trash {
    width: 100px; 
    height: 150px; 
    border: 1px solid #000;
    background-color: #000;
}
.recycle {
    width: 100px; 
    height: 150px; 
    border: 1px solid #000;
    background-color: #316cb0;
}

.row {
    margin-top: 0;
    position: fixed;
    bottom: 0;
    z-index: 999;
    border-radius: 0 20px 0 20px;
}

.modal-title {
    text-align: left;
}

.modal-body p {
    text-align: left;
}