body {
    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;
}

h1  {
    font-family: 'Bangers', cursive;
    color: orangered;
    font-size: 96px;
}

.game-banner {
    text-align: center;
}

.game-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.how-to-play {
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.play {
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.circle {
    width: 75px;
    height: 75px;
    background: #316cb0;
    border-radius: 50%
}

.rectangle {
    width: 60px;
    height: 100px;
    background: #000;
    border-radius: 10%;
  }

  .rupee {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 80px solid #65ae43;
  }

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    position: fixed;
    bottom: 0;
    width: 100vw;
}

@media (min-width: 768px) {
.container, .container-md, .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
.container, .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
.container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
.container {
        max-width: 100%;
    }
}

.compost {
    margin: auto;
    width: 100px; 
    height: 150px; 
    border: .5px solid #000;
    background-color: #65ae43;
}

.trash {
    margin: auto;
    width: 100px; 
    height: 150px; 
    border: .5px solid #000;
    background-color: #000;
}

.recycle {
    margin: auto;
    width: 100px; 
    height: 150px; 
    border: .5px solid #000;
    background-color: #316cb0;
}

.modal-body p {
    text-align: left;
    font-family: Helvetica, sans-serif;
}