body {
    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;
}

h1  {
    font-family: 'Bangers', cursive;
    color: orangered;
    font-size: 96px;
}

.game-banner {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
}

.compost {
    margin: auto;
    width: 100px; 
    height: 150px; 
    border: 1px solid #000;
    background-color: #65ae43;
}

.trash {
    margin: auto;
    width: 100px; 
    height: 150px; 
    border: 1px solid #000;
    background-color: #000;
}

.recycle {
    margin: auto;
    width: 100px; 
    height: 150px; 
    border: 1px solid #000;
    background-color: #316cb0;
}

.modal-header {
    text-align: left;
}

.modal-body p {
    text-align: left;
    font-family: Helvetica, sans-serif;
}